
@{
    ViewData["Title"] = "View Books";
}

@section Styles
{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">View books</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="_ResponseSweetAlertPartial" />
                        <table id="books" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>Publication</th>
                                    <th>Genre</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                        </table>
                        <partial name="_ModalPartial" />
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>

@section Scripts
{
    <!-- DataTables  & Plugins -->
    <script src="~/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Page specific script -->
    <script>
        $(function () {
            $("#books").DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/Admin/Book/GetBooks",
                },
                "columnDefs": [
                    {
                        "orderable": false,
                        "targets": 4,
                        "render": function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/Admin/Book/Update/${data}'" value='${data}'>
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </button>
                                    <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                        <i class="fas fa-trash"></i>
                                        Delete
                                    </button>`;
                        }
                    }
                ]
            });

            $('#books').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data('id');
                var modal = $('#modal-default');

                modal.find('.modal-body p').text('Are you want to delete this book ?');

                $('#deleteId').val(id);
                $('#deleteForm').attr('action', "/Admin/Book/Delete");

                modal.modal('show');
            });

            $('#deleteButton').click(function () {
                $('#deleteForm').submit();
            });
        });
    </script>
}